:root{
    --var_backgroud-white: #9a9a9a;
    --var_backgroud-dark: #2b2b2b;
}

body {
    width: 100%;
    background-color: var(--var_backgroud-white);
    box-sizing: border-box;
}
body.dark{
    background-color: var(--var_backgroud-dark);
}

html{
    overflow-x: hidden;
}

.container {
    margin: -5px 50px 5px 50px;
    background: #fffdfd;
    box-shadow: 5px 0px black;
    height: fit-content;
    padding-top: 5px;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: -6px 50px;
    background: var(--backgroud);
    background: #fffdfd;
    box-shadow: 0px 0px black;
    border-radius: 6px;
    z-index: 5;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: left;
    margin: auto;
}

.btnRight{
    float: right;
    margin: 50px 60px;
}

.menu, .ulhorstyle{
    list-style-type: none;
    text-decoration: none;
    text-align: center;
}

.photo{
    float: left;
    padding: 10px 10px 10px 10px;
    margin: 0px 10px 5px 10px;
}

#toggle-theme-btn{
    /* position: absolute; */
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
    transition: 0.2s;
    background-color: transparent;
}

#toggle-theme-btn:hover{
    background: #dbdbdb;
    border: 3px dotted blueviolet;
}

#toggle-theme-image
{
    width: 200px;
}

.content{
    text-align: justify;
    padding-left: 300px;
    padding-right: 40px;
    padding-bottom: 30px;
    height: 100%;
}   
p {
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
}
a{
    color: #4682B4;
    font-size: 20px;
}



a:hover{
    color:brown;
}
a:visited{
    color:chocolate;
}

.leftlink{
    margin-left: 50px;
}

.rightlink{
    margin-right: 50px;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.horlist{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.horlistitem{
    padding-right: 10px;
}

.infoitem {
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.mainname{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
}

.ulrightitem{
    margin-left: 25px;
}


/* .slides{
    height: 250px;
    width: 500px;
    position: relative;
    margin: 15px 80px;
    overflow:  hidden;
}

.slides img{
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.block{
    display: inline-block;
} */

/* .slides{
    height: 250px;
    width: 500px;
    position: relative;
    margin: 15px 80px;
    overflow:  hidden;
}*/

.slideitem img{
    object-fit:cover;
    border-radius: 10px;
    width: 100%;
    height: 300px;
}

.slides{
    position: relative;
    width: 50%;
    height: 300px;
    margin-right: 10px;
}

.slide-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
  }

.slideitem {
    width: 100%;
    transition: opacity 1s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
  }

div.slide-left, div.slide-right {
  width: 22px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 5;
}

.slide-left {
    left: 10px;
    top: 40%;
    display: block;
    background-image: url("left-arrow.png") no-repeat;
}

.slide-right {
    right: 10px;
    top: 40%;
    display: block;
    background-image: url("right-arrow.png") no-repeat;
  }

  div.slide-left:hover {
    opacity: 1.0;
  }
  
  div.slide-right:hover {
    opacity: 1.0;
  }

  div.slide-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    text-align: center;
  }
  
  span.sim-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #BBB;
    border-radius: 5px;
    cursor: pointer;
  }

  .achiv-item {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
  }

  .visualeffects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 50px;
  }

  .slides1 {
    background-color: #ffffff;
    position: relative;
    width: 50%;
    height: 300px;
    border-radius: 10px;
  }
  
  .slide-zagl {
    font-size: 25px;
    text-align: center;
  }

  .tabletest {
    width: 100%;
  }

